.HeroTitle {
  width: 247px;
  height: 57px;
  @media only screen and (min-width: 576px) {
    width: 428px;
    height: 100px;
  }
  background: url(/landing/title_index.png) no-repeat;
  background-size: 100%;
  animation: showup 2s cubic-bezier(0.65, 0, 0.35, 1);
}

@keyframes showup {
  0% {
    opacity: 0;
    transform: translate(-100%, 245%);
  }
  50% {
    transform: translate(0, 245%);
  }
  100% {
    opacity: 1;
  }
}
