.HeroVisual {
  width: 390px;
  height: 200px;
  @media only screen and (min-width: 576px) {
    width: 576px;
    height: 280px;
  }
  z-index: -1;
  background: url(/landing/cat-00.png) no-repeat;
  background-size: 100%;
  animation: fadein 4s ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
