@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff)
      format("woff");
}

:root {
  /* 主色調 */
  --bg-color: #fbf2e9;
  --primary-color: #fff3b8;
  --highline-color: #3782b8;
  /* 輔色調 */
  --light-color: #f8faf6;
  --highline-color-40: #afcde2;
  /* 灰階 */
  --light-gray: #ccc;
  --gray: #444;
  --deep-gray: #222;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: FakePearl-Regular, "Microsoft JhengHei", "微軟正黑體", "PingFang",
    "LiHei Pro", "黑體-繁", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background-color: var(--bg-color);
  background-image: url(/bgline.png);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 5px transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

p {
  color: #444;
  font-family: FakePearl-Regular;
  font-weight: 400;
  text-align: center;
}
